# Spark DataFrame Basics

Spark DataFrames are the workhouse and main way of working with Spark and Python post Spark 2.0. DataFrames act as powerful versions of tables, with rows and columns, easily handling large datasets. The shift to DataFrames provides many advantages:
* A much simpler syntax
* Ability to use SQL directly in the dataframe
* Operations are automatically distributed across RDDs

In [2]:
## Creating a DataFrame
#First we need to start a SparkSession:
#Import SparkSession

from pyspark.sql import SparkSession

#### Then start the SparkSession

In [3]:
#To import the spark session:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [9]:
#To download a csv file:
df = spark.read.csv('Book1.csv', header=True, inferSchema=True)

#### Showing the data

In [10]:
#To print the data in rows and columns way:
df.show()

+-------+----+------+---------+
|   Name| Age|Salary|     City|
+-------+----+------+---------+
|  Rahul|  26| 30000|Bangalore|
|Abhinav|  26| 34000|     Pune|
|   Sonu|  23| 34000|   Mumbai|
|  Akash|  24| 45000|     null|
|  Rohit|null| 35000|   Shimla|
|   null|  23|  null|   Manali|
| Sanjay|  30| 56000|   Mysore|
|   null|  21| 53000|    Hubli|
|  Suman|  28| 45000|   Mumbai|
|  Akash|null| 23000|Hyderabad|
|   null|null|  null|     null|
| Aayush|  30| 38000|    Solan|
+-------+----+------+---------+

In [11]:
#To print the schema:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- City: string (nullable = true)

In [12]:
#To print the columns of a dataframe:
df.columns

['Name', 'Age', 'Salary', 'City']

In [15]:
#To print five point summary:
df.describe().show()

+-------+------+------------------+------------------+---------+
|summary|  Name|               Age|            Salary|     City|
+-------+------+------------------+------------------+---------+
|  count|     9|                 9|                10|       10|
|   mean|  null|25.666666666666668|           39300.0|     null|
| stddev|  null| 3.201562118716425|10328.493490232628|     null|
|    min|Aayush|                21|             23000|Bangalore|
|    max| Suman|                30|             56000|    Solan|
+-------+------+------------------+------------------+---------+

### Grabbing the data

In [16]:
df['age']

Column<'age'>

In [17]:
type(df['age'])

pyspark.sql.column.Column

In [18]:
df.select('age').show()

+----+
| age|
+----+
|  26|
|  26|
|  23|
|  24|
|null|
|  23|
|  30|
|  21|
|  28|
|null|
|null|
|  30|
+----+

In [19]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [20]:
df.select('age').show()

+----+
| age|
+----+
|  26|
|  26|
|  23|
|  24|
|null|
|  23|
|  30|
|  21|
|  28|
|null|
|null|
|  30|
+----+

In [21]:
# Returns list of Row objects
df.head(2)

[Row(Name='Rahul', Age=26, Salary=30000, City='Bangalore'),
 Row(Name='Abhinav', Age=26, Salary=34000, City='Pune')]

Multiple Columns:

In [22]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|  26|  Rahul|
|  26|Abhinav|
|  23|   Sonu|
|  24|  Akash|
|null|  Rohit|
|  23|   null|
|  30| Sanjay|
|  21|   null|
|  28|  Suman|
|null|  Akash|
|null|   null|
|  30| Aayush|
+----+-------+

### Creating new columns

In [24]:
# Adding a new column with a simple copy
df.withColumn('newage',df['age']+5).show()

+-------+----+------+---------+------+
|   Name| Age|Salary|     City|newage|
+-------+----+------+---------+------+
|  Rahul|  26| 30000|Bangalore|    31|
|Abhinav|  26| 34000|     Pune|    31|
|   Sonu|  23| 34000|   Mumbai|    28|
|  Akash|  24| 45000|     null|    29|
|  Rohit|null| 35000|   Shimla|  null|
|   null|  23|  null|   Manali|    28|
| Sanjay|  30| 56000|   Mysore|    35|
|   null|  21| 53000|    Hubli|    26|
|  Suman|  28| 45000|   Mumbai|    33|
|  Akash|null| 23000|Hyderabad|  null|
|   null|null|  null|     null|  null|
| Aayush|  30| 38000|    Solan|    35|
+-------+----+------+---------+------+

In [25]:
df.show()

+-------+----+------+---------+
|   Name| Age|Salary|     City|
+-------+----+------+---------+
|  Rahul|  26| 30000|Bangalore|
|Abhinav|  26| 34000|     Pune|
|   Sonu|  23| 34000|   Mumbai|
|  Akash|  24| 45000|     null|
|  Rohit|null| 35000|   Shimla|
|   null|  23|  null|   Manali|
| Sanjay|  30| 56000|   Mysore|
|   null|  21| 53000|    Hubli|
|  Suman|  28| 45000|   Mumbai|
|  Akash|null| 23000|Hyderabad|
|   null|null|  null|     null|
| Aayush|  30| 38000|    Solan|
+-------+----+------+---------+

In [26]:
# Simple Rename
df.withColumnRenamed('age','Age').show()

+-------+----+------+---------+
|   Name| Age|Salary|     City|
+-------+----+------+---------+
|  Rahul|  26| 30000|Bangalore|
|Abhinav|  26| 34000|     Pune|
|   Sonu|  23| 34000|   Mumbai|
|  Akash|  24| 45000|     null|
|  Rohit|null| 35000|   Shimla|
|   null|  23|  null|   Manali|
| Sanjay|  30| 56000|   Mysore|
|   null|  21| 53000|    Hubli|
|  Suman|  28| 45000|   Mumbai|
|  Akash|null| 23000|Hyderabad|
|   null|null|  null|     null|
| Aayush|  30| 38000|    Solan|
+-------+----+------+---------+

#### More complicated operations to create new columns

In [35]:
#Age after 5 years
df.withColumn('Age_after_5',df['age']+5).show()

+-------+----+------+---------+-----------+
|   Name| Age|Salary|     City|Age_after_5|
+-------+----+------+---------+-----------+
|  Rahul|  26| 30000|Bangalore|         31|
|Abhinav|  26| 34000|     Pune|         31|
|   Sonu|  23| 34000|   Mumbai|         28|
|  Akash|  24| 45000|     null|         29|
|  Rohit|null| 35000|   Shimla|       null|
|   null|  23|  null|   Manali|         28|
| Sanjay|  30| 56000|   Mysore|         35|
|   null|  21| 53000|    Hubli|         26|
|  Suman|  28| 45000|   Mumbai|         33|
|  Akash|null| 23000|Hyderabad|       null|
|   null|null|  null|     null|       null|
| Aayush|  30| 38000|    Solan|         35|
+-------+----+------+---------+-----------+

In [34]:
#Age after 10 years:
df.withColumn('add_one_age',df['age']+10).show()

+-------+----+------+---------+-----------+
|   Name| Age|Salary|     City|add_one_age|
+-------+----+------+---------+-----------+
|  Rahul|  26| 30000|Bangalore|         36|
|Abhinav|  26| 34000|     Pune|         36|
|   Sonu|  23| 34000|   Mumbai|         33|
|  Akash|  24| 45000|     null|         34|
|  Rohit|null| 35000|   Shimla|       null|
|   null|  23|  null|   Manali|         33|
| Sanjay|  30| 56000|   Mysore|         40|
|   null|  21| 53000|    Hubli|         31|
|  Suman|  28| 45000|   Mumbai|         38|
|  Akash|null| 23000|Hyderabad|       null|
|   null|null|  null|     null|       null|
| Aayush|  30| 38000|    Solan|         40|
+-------+----+------+---------+-----------+

In [31]:
df.withColumn('half_age',df['age']/2).show()

+-------+----+------+---------+--------+
|   Name| Age|Salary|     City|half_age|
+-------+----+------+---------+--------+
|  Rahul|  26| 30000|Bangalore|    13.0|
|Abhinav|  26| 34000|     Pune|    13.0|
|   Sonu|  23| 34000|   Mumbai|    11.5|
|  Akash|  24| 45000|     null|    12.0|
|  Rohit|null| 35000|   Shimla|    null|
|   null|  23|  null|   Manali|    11.5|
| Sanjay|  30| 56000|   Mysore|    15.0|
|   null|  21| 53000|    Hubli|    10.5|
|  Suman|  28| 45000|   Mumbai|    14.0|
|  Akash|null| 23000|Hyderabad|    null|
|   null|null|  null|     null|    null|
| Aayush|  30| 38000|    Solan|    15.0|
+-------+----+------+---------+--------+

In [32]:
df.withColumn('half_age',df['age']/2)

DataFrame[Name: string, Age: int, Salary: int, City: string, half_age: double]

In [33]:
df.show()

+-------+----+------+---------+
|   Name| Age|Salary|     City|
+-------+----+------+---------+
|  Rahul|  26| 30000|Bangalore|
|Abhinav|  26| 34000|     Pune|
|   Sonu|  23| 34000|   Mumbai|
|  Akash|  24| 45000|     null|
|  Rohit|null| 35000|   Shimla|
|   null|  23|  null|   Manali|
| Sanjay|  30| 56000|   Mysore|
|   null|  21| 53000|    Hubli|
|  Suman|  28| 45000|   Mumbai|
|  Akash|null| 23000|Hyderabad|
|   null|null|  null|     null|
| Aayush|  30| 38000|    Solan|
+-------+----+------+---------+

We'll discuss much more complicated operations later on!

### Using SQL

To use SQL queries directly with the dataframe, you will need to register it to a temporary view:

In [23]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("people")

In [24]:
sql_results = spark.sql("SELECT * FROM people")

In [25]:
sql_results

DataFrame[age: bigint, name: string]

In [29]:
#To print the entire dataframe
sql_results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [28]:
#Select the records where age is 30
spark.sql("SELECT * FROM people WHERE age=30").show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

We won't really be focusing on using the SQL syntax for this course in general, but keep in mind it is always there for you to get you out of bind quickly with your SQL skills!

Alright that is all we need to know for now!