## PYSPARK

In [155]:
#To create a session:
from pyspark.sql import SparkSession


from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Permission').getOrCreate()

In [188]:
spark

In [156]:
#Import required libraries:
import pyspark
import pandas as pd

In [158]:
#Read dataframe in pandas:
df = pd.read_csv("Alcohol.csv")


#To check the datatypes and non null count:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [159]:
#To read the csv file using spark:
dfspark =spark.read.csv("Alcohol.csv")
dfspark.head()

Row(_c0='country', _c1='beer_servings', _c2='spirit_servings', _c3='wine_servings', _c4='total_litres_of_pure_alcohol', _c5='continent')

In [181]:
#To read the csv using spark and assigning header names also:
dfspark = spark.read.option('header','true').csv("Alcohol.csv", inferSchema=True)

In [177]:
#To read the csv
dfspark =spark.read.csv("Alcohol.csv", header=True, inferSchema=True)
dfspark.head(5)

[Row(country='Afghanistan', beer_servings=0, spirit_servings=0, wine_servings=0, total_litres_of_pure_alcohol=0.0, continent='AS'),
 Row(country='Albania', beer_servings=89, spirit_servings=132, wine_servings=54, total_litres_of_pure_alcohol=4.9, continent='EU'),
 Row(country='Algeria', beer_servings=25, spirit_servings=0, wine_servings=14, total_litres_of_pure_alcohol=0.7, continent='AF'),
 Row(country='Andorra', beer_servings=245, spirit_servings=138, wine_servings=312, total_litres_of_pure_alcohol=12.4, continent='EU'),
 Row(country='Angola', beer_servings=217, spirit_servings=57, wine_servings=45, total_litres_of_pure_alcohol=5.9, continent='AF')]

In [178]:
#To check the datatype of dataframe
type(dfspark)

pyspark.sql.dataframe.DataFrame

In [163]:
#Check the schema
dfspark.printSchema()

root
 |-- country: string (nullable = true)
 |-- beer_servings: integer (nullable = true)
 |-- spirit_servings: integer (nullable = true)
 |-- wine_servings: integer (nullable = true)
 |-- total_litres_of_pure_alcohol: double (nullable = true)
 |-- continent: string (nullable = true)

# PySpark basic operations:
    1. To select all the columns 
    2. To select multiple columns
    3. To check the data types of columns
    4. To add the column and drop the column
    5. Describe functionality
    6. Column rename

In [164]:
dfspark.columns

['country',
 'beer_servings',
 'spirit_servings',
 'wine_servings',
 'total_litres_of_pure_alcohol',
 'continent']

In [165]:
#To check the dataframe
dfspark.show()

+-----------------+-------------+---------------+-------------+----------------------------+---------+
|          country|beer_servings|spirit_servings|wine_servings|total_litres_of_pure_alcohol|continent|
+-----------------+-------------+---------------+-------------+----------------------------+---------+
|      Afghanistan|            0|              0|            0|                         0.0|       AS|
|          Albania|           89|            132|           54|                         4.9|       EU|
|          Algeria|           25|              0|           14|                         0.7|       AF|
|          Andorra|          245|            138|          312|                        12.4|       EU|
|           Angola|          217|             57|           45|                         5.9|       AF|
|Antigua & Barbuda|          102|            128|           45|                         4.9|       NA|
|        Argentina|          193|             25|          221|                         8.3|       SA|
|          Armenia|           21|            179|           11|                         3.8|       EU|
|        Australia|          261|             72|          212|                        10.4|       OC|
|          Austria|          279|             75|          191|                         9.7|       EU|
|       Azerbaijan|           21|             46|            5|                         1.3|       EU|
|          Bahamas|          122|            176|           51|                         6.3|       NA|
|          Bahrain|           42|             63|            7|                         2.0|       AS|
|       Bangladesh|            0|              0|            0|                         0.0|       AS|
|         Barbados|          143|            173|           36|                         6.3|       NA|
|          Belarus|          142|            373|           42|                        14.4|       EU|
|          Belgium|          295|             84|          212|                        10.5|       EU|
|           Belize|          263|            114|            8|                         6.8|       NA|
|            Benin|           34|              4|           13|                         1.1|       AF|
|           Bhutan|           23|              0|            0|                         0.4|       AS|
+-----------------+-------------+---------------+-------------+----------------------------+---------+
only showing top 20 rows

In [166]:
#To select the particular column 
dfspark.select('country').show() #By default it shows first 20 rows

+-----------------+
|          country|
+-----------------+
|      Afghanistan|
|          Albania|
|          Algeria|
|          Andorra|
|           Angola|
|Antigua & Barbuda|
|        Argentina|
|          Armenia|
|        Australia|
|          Austria|
|       Azerbaijan|
|          Bahamas|
|          Bahrain|
|       Bangladesh|
|         Barbados|
|          Belarus|
|          Belgium|
|           Belize|
|            Benin|
|           Bhutan|
+-----------------+
only showing top 20 rows

In [167]:
#To select the multiple columns with first 10 rows
dfspark.select(['country','beer_servings']).show(10)

+-----------------+-------------+
|          country|beer_servings|
+-----------------+-------------+
|      Afghanistan|            0|
|          Albania|           89|
|          Algeria|           25|
|          Andorra|          245|
|           Angola|          217|
|Antigua & Barbuda|          102|
|        Argentina|          193|
|          Armenia|           21|
|        Australia|          261|
|          Austria|          279|
+-----------------+-------------+
only showing top 10 rows

In [168]:
#To select the multiple columns with first 10 rows
dfspark.select(['country','beer_servings','spirit_servings']).show(10)

+-----------------+-------------+---------------+
|          country|beer_servings|spirit_servings|
+-----------------+-------------+---------------+
|      Afghanistan|            0|              0|
|          Albania|           89|            132|
|          Algeria|           25|              0|
|          Andorra|          245|            138|
|           Angola|          217|             57|
|Antigua & Barbuda|          102|            128|
|        Argentina|          193|             25|
|          Armenia|           21|            179|
|        Australia|          261|             72|
|          Austria|          279|             75|
+-----------------+-------------+---------------+
only showing top 10 rows

In [169]:
#To check dtypes of all the columns:
dfspark.dtypes

[('country', 'string'),
 ('beer_servings', 'int'),
 ('spirit_servings', 'int'),
 ('wine_servings', 'int'),
 ('total_litres_of_pure_alcohol', 'double'),
 ('continent', 'string')]

In [170]:
#Describe function
dfspark.describe().show()

+-------+-----------+------------------+-----------------+-----------------+----------------------------+---------+
|summary|    country|     beer_servings|  spirit_servings|    wine_servings|total_litres_of_pure_alcohol|continent|
+-------+-----------+------------------+-----------------+-----------------+----------------------------+---------+
|  count|        193|               193|              193|              193|                         193|      193|
|   mean|       null|106.16062176165804|80.99481865284974|49.45077720207254|           4.717098445595855|     null|
| stddev|       null| 101.1431025393134|88.28431210968618|79.69759845763012|           3.773298164356082|     null|
|    min|Afghanistan|                 0|                0|                0|                         0.0|       AF|
|    max|   Zimbabwe|               376|              438|              370|                        14.4|       SA|
+-------+-----------+------------------+-----------------+-----------------+----------------------------+---------+

In [171]:
dfspark.show()

+-----------------+-------------+---------------+-------------+----------------------------+---------+
|          country|beer_servings|spirit_servings|wine_servings|total_litres_of_pure_alcohol|continent|
+-----------------+-------------+---------------+-------------+----------------------------+---------+
|      Afghanistan|            0|              0|            0|                         0.0|       AS|
|          Albania|           89|            132|           54|                         4.9|       EU|
|          Algeria|           25|              0|           14|                         0.7|       AF|
|          Andorra|          245|            138|          312|                        12.4|       EU|
|           Angola|          217|             57|           45|                         5.9|       AF|
|Antigua & Barbuda|          102|            128|           45|                         4.9|       NA|
|        Argentina|          193|             25|          221|                         8.3|       SA|
|          Armenia|           21|            179|           11|                         3.8|       EU|
|        Australia|          261|             72|          212|                        10.4|       OC|
|          Austria|          279|             75|          191|                         9.7|       EU|
|       Azerbaijan|           21|             46|            5|                         1.3|       EU|
|          Bahamas|          122|            176|           51|                         6.3|       NA|
|          Bahrain|           42|             63|            7|                         2.0|       AS|
|       Bangladesh|            0|              0|            0|                         0.0|       AS|
|         Barbados|          143|            173|           36|                         6.3|       NA|
|          Belarus|          142|            373|           42|                        14.4|       EU|
|          Belgium|          295|             84|          212|                        10.5|       EU|
|           Belize|          263|            114|            8|                         6.8|       NA|
|            Benin|           34|              4|           13|                         1.1|       AF|
|           Bhutan|           23|              0|            0|                         0.4|       AS|
+-----------------+-------------+---------------+-------------+----------------------------+---------+
only showing top 20 rows

In [172]:
#Adding column in dataframe:
dfspark.withColumn('wine_servings_after',dfspark['wine_servings']+10).show()

+-----------------+-------------+---------------+-------------+----------------------------+---------+-------------------+
|          country|beer_servings|spirit_servings|wine_servings|total_litres_of_pure_alcohol|continent|wine_servings_after|
+-----------------+-------------+---------------+-------------+----------------------------+---------+-------------------+
|      Afghanistan|            0|              0|            0|                         0.0|       AS|                 10|
|          Albania|           89|            132|           54|                         4.9|       EU|                 64|
|          Algeria|           25|              0|           14|                         0.7|       AF|                 24|
|          Andorra|          245|            138|          312|                        12.4|       EU|                322|
|           Angola|          217|             57|           45|                         5.9|       AF|                 55|
|Antigua & Barbuda|          102|            128|           45|                         4.9|       NA|                 55|
|        Argentina|          193|             25|          221|                         8.3|       SA|                231|
|          Armenia|           21|            179|           11|                         3.8|       EU|                 21|
|        Australia|          261|             72|          212|                        10.4|       OC|                222|
|          Austria|          279|             75|          191|                         9.7|       EU|                201|
|       Azerbaijan|           21|             46|            5|                         1.3|       EU|                 15|
|          Bahamas|          122|            176|           51|                         6.3|       NA|                 61|
|          Bahrain|           42|             63|            7|                         2.0|       AS|                 17|
|       Bangladesh|            0|              0|            0|                         0.0|       AS|                 10|
|         Barbados|          143|            173|           36|                         6.3|       NA|                 46|
|          Belarus|          142|            373|           42|                        14.4|       EU|                 52|
|          Belgium|          295|             84|          212|                        10.5|       EU|                222|
|           Belize|          263|            114|            8|                         6.8|       NA|                 18|
|            Benin|           34|              4|           13|                         1.1|       AF|                 23|
|           Bhutan|           23|              0|            0|                         0.4|       AS|                 10|
+-----------------+-------------+---------------+-------------+----------------------------+---------+-------------------+
only showing top 20 rows

In [173]:
dfspark.show()
#As we can see that new column is not added to the original dataframe 
#Becuase there is no inplace function in spark

+-----------------+-------------+---------------+-------------+----------------------------+---------+
|          country|beer_servings|spirit_servings|wine_servings|total_litres_of_pure_alcohol|continent|
+-----------------+-------------+---------------+-------------+----------------------------+---------+
|      Afghanistan|            0|              0|            0|                         0.0|       AS|
|          Albania|           89|            132|           54|                         4.9|       EU|
|          Algeria|           25|              0|           14|                         0.7|       AF|
|          Andorra|          245|            138|          312|                        12.4|       EU|
|           Angola|          217|             57|           45|                         5.9|       AF|
|Antigua & Barbuda|          102|            128|           45|                         4.9|       NA|
|        Argentina|          193|             25|          221|                         8.3|       SA|
|          Armenia|           21|            179|           11|                         3.8|       EU|
|        Australia|          261|             72|          212|                        10.4|       OC|
|          Austria|          279|             75|          191|                         9.7|       EU|
|       Azerbaijan|           21|             46|            5|                         1.3|       EU|
|          Bahamas|          122|            176|           51|                         6.3|       NA|
|          Bahrain|           42|             63|            7|                         2.0|       AS|
|       Bangladesh|            0|              0|            0|                         0.0|       AS|
|         Barbados|          143|            173|           36|                         6.3|       NA|
|          Belarus|          142|            373|           42|                        14.4|       EU|
|          Belgium|          295|             84|          212|                        10.5|       EU|
|           Belize|          263|            114|            8|                         6.8|       NA|
|            Benin|           34|              4|           13|                         1.1|       AF|
|           Bhutan|           23|              0|            0|                         0.4|       AS|
+-----------------+-------------+---------------+-------------+----------------------------+---------+
only showing top 20 rows

In [179]:
#There is no inplace function in Pyspark. 
#In order to reflect the output in original dataframe we have to assign it to a new variable.
dfspark = dfspark.withColumn('wine_servings_after',dfspark['wine_servings']+10).show()

+-----------------+-------------+---------------+-------------+----------------------------+---------+-------------------+
|          country|beer_servings|spirit_servings|wine_servings|total_litres_of_pure_alcohol|continent|wine_servings_after|
+-----------------+-------------+---------------+-------------+----------------------------+---------+-------------------+
|      Afghanistan|            0|              0|            0|                         0.0|       AS|                 10|
|          Albania|           89|            132|           54|                         4.9|       EU|                 64|
|          Algeria|           25|              0|           14|                         0.7|       AF|                 24|
|          Andorra|          245|            138|          312|                        12.4|       EU|                322|
|           Angola|          217|             57|           45|                         5.9|       AF|                 55|
|Antigua & Barbuda|          102|            128|           45|                         4.9|       NA|                 55|
|        Argentina|          193|             25|          221|                         8.3|       SA|                231|
|          Armenia|           21|            179|           11|                         3.8|       EU|                 21|
|        Australia|          261|             72|          212|                        10.4|       OC|                222|
|          Austria|          279|             75|          191|                         9.7|       EU|                201|
|       Azerbaijan|           21|             46|            5|                         1.3|       EU|                 15|
|          Bahamas|          122|            176|           51|                         6.3|       NA|                 61|
|          Bahrain|           42|             63|            7|                         2.0|       AS|                 17|
|       Bangladesh|            0|              0|            0|                         0.0|       AS|                 10|
|         Barbados|          143|            173|           36|                         6.3|       NA|                 46|
|          Belarus|          142|            373|           42|                        14.4|       EU|                 52|
|          Belgium|          295|             84|          212|                        10.5|       EU|                222|
|           Belize|          263|            114|            8|                         6.8|       NA|                 18|
|            Benin|           34|              4|           13|                         1.1|       AF|                 23|
|           Bhutan|           23|              0|            0|                         0.4|       AS|                 10|
+-----------------+-------------+---------------+-------------+----------------------------+---------+-------------------+
only showing top 20 rows

In [182]:
#Drop the column
dfspark = dfspark.drop("wine_servings_after")

In [183]:
dfspark.show()

+-----------------+-------------+---------------+-------------+----------------------------+---------+
|          country|beer_servings|spirit_servings|wine_servings|total_litres_of_pure_alcohol|continent|
+-----------------+-------------+---------------+-------------+----------------------------+---------+
|      Afghanistan|            0|              0|            0|                         0.0|       AS|
|          Albania|           89|            132|           54|                         4.9|       EU|
|          Algeria|           25|              0|           14|                         0.7|       AF|
|          Andorra|          245|            138|          312|                        12.4|       EU|
|           Angola|          217|             57|           45|                         5.9|       AF|
|Antigua & Barbuda|          102|            128|           45|                         4.9|       NA|
|        Argentina|          193|             25|          221|                         8.3|       SA|
|          Armenia|           21|            179|           11|                         3.8|       EU|
|        Australia|          261|             72|          212|                        10.4|       OC|
|          Austria|          279|             75|          191|                         9.7|       EU|
|       Azerbaijan|           21|             46|            5|                         1.3|       EU|
|          Bahamas|          122|            176|           51|                         6.3|       NA|
|          Bahrain|           42|             63|            7|                         2.0|       AS|
|       Bangladesh|            0|              0|            0|                         0.0|       AS|
|         Barbados|          143|            173|           36|                         6.3|       NA|
|          Belarus|          142|            373|           42|                        14.4|       EU|
|          Belgium|          295|             84|          212|                        10.5|       EU|
|           Belize|          263|            114|            8|                         6.8|       NA|
|            Benin|           34|              4|           13|                         1.1|       AF|
|           Bhutan|           23|              0|            0|                         0.4|       AS|
+-----------------+-------------+---------------+-------------+----------------------------+---------+
only showing top 20 rows

In [187]:
#Rename the column
dfspark = dfspark.withColumnRenamed('country','Country')
dfspark.show()

+-----------------+-------------+---------------+-------------+----------------------------+---------+
|          Country|beer_servings|spirit_servings|wine_servings|total_litres_of_pure_alcohol|continent|
+-----------------+-------------+---------------+-------------+----------------------------+---------+
|      Afghanistan|            0|              0|            0|                         0.0|       AS|
|          Albania|           89|            132|           54|                         4.9|       EU|
|          Algeria|           25|              0|           14|                         0.7|       AF|
|          Andorra|          245|            138|          312|                        12.4|       EU|
|           Angola|          217|             57|           45|                         5.9|       AF|
|Antigua & Barbuda|          102|            128|           45|                         4.9|       NA|
|        Argentina|          193|             25|          221|                         8.3|       SA|
|          Armenia|           21|            179|           11|                         3.8|       EU|
|        Australia|          261|             72|          212|                        10.4|       OC|
|          Austria|          279|             75|          191|                         9.7|       EU|
|       Azerbaijan|           21|             46|            5|                         1.3|       EU|
|          Bahamas|          122|            176|           51|                         6.3|       NA|
|          Bahrain|           42|             63|            7|                         2.0|       AS|
|       Bangladesh|            0|              0|            0|                         0.0|       AS|
|         Barbados|          143|            173|           36|                         6.3|       NA|
|          Belarus|          142|            373|           42|                        14.4|       EU|
|          Belgium|          295|             84|          212|                        10.5|       EU|
|           Belize|          263|            114|            8|                         6.8|       NA|
|            Benin|           34|              4|           13|                         1.1|       AF|
|           Bhutan|           23|              0|            0|                         0.4|       AS|
+-----------------+-------------+---------------+-------------+----------------------------+---------+
only showing top 20 rows

# PySpark handling missing values:
1. Dropping columns
2. Dropping rows
3. Various parameters involved in dropping
4. Missing values imputations with Mean, Median and Mode

In [232]:
spark  = SparkSession.builder.appName('New').getOrCreate()
spark

In [233]:
df_pyspark=spark.read.csv("Book1.csv",header=True, inferSchema=True)
df_pyspark.show()

+-------+----+------+---------+
|   Name| Age|Salary|     City|
+-------+----+------+---------+
|  Rahul|  26| 30000|Bangalore|
|Abhinav|  26| 34000|     Pune|
|   Sonu|  23| 34000|   Mumbai|
|  Akash|  24| 45000|     null|
|  Rohit|null| 35000|   Shimla|
|   null|  23|  null|   Manali|
| Sanjay|  30| 56000|   Mysore|
|   null|  21| 53000|    Hubli|
|  Suman|  28| 45000|   Mumbai|
|  Akash|null| 23000|Hyderabad|
|   null|null|  null|     null|
| Aayush|  30| 38000|    Solan|
+-------+----+------+---------+

In [234]:
#To drop a column on temporary basis:
df_pyspark.drop('City').show()

+-------+----+------+
|   Name| Age|Salary|
+-------+----+------+
|  Rahul|  26| 30000|
|Abhinav|  26| 34000|
|   Sonu|  23| 34000|
|  Akash|  24| 45000|
|  Rohit|null| 35000|
|   null|  23|  null|
| Sanjay|  30| 56000|
|   null|  21| 53000|
|  Suman|  28| 45000|
|  Akash|null| 23000|
|   null|null|  null|
| Aayush|  30| 38000|
+-------+----+------+

In [235]:
#To drop null values
df_pyspark.na.drop().show()

#If we will not assign anything in drop() then 
#It will drop all the null values whereever it is (null) present at any row or index position

+-------+---+------+---------+
|   Name|Age|Salary|     City|
+-------+---+------+---------+
|  Rahul| 26| 30000|Bangalore|
|Abhinav| 26| 34000|     Pune|
|   Sonu| 23| 34000|   Mumbai|
| Sanjay| 30| 56000|   Mysore|
|  Suman| 28| 45000|   Mumbai|
| Aayush| 30| 38000|    Solan|
+-------+---+------+---------+

In [236]:
#Drop the null values using how='any' inside drop function
df_pyspark.na.drop(how='any').show() 

#It will drop all the rows wherever there is a null value in a row.
#And by default how='any' in drop function

+-------+---+------+---------+
|   Name|Age|Salary|     City|
+-------+---+------+---------+
|  Rahul| 26| 30000|Bangalore|
|Abhinav| 26| 34000|     Pune|
|   Sonu| 23| 34000|   Mumbai|
| Sanjay| 30| 56000|   Mysore|
|  Suman| 28| 45000|   Mumbai|
| Aayush| 30| 38000|    Solan|
+-------+---+------+---------+

In [237]:
#Drop the null values using how='all' inside drop function
df_pyspark.na.drop(how='all').show() 

#It will delete the rows whenever all the values under the columns in a row are null.

+-------+----+------+---------+
|   Name| Age|Salary|     City|
+-------+----+------+---------+
|  Rahul|  26| 30000|Bangalore|
|Abhinav|  26| 34000|     Pune|
|   Sonu|  23| 34000|   Mumbai|
|  Akash|  24| 45000|     null|
|  Rohit|null| 35000|   Shimla|
|   null|  23|  null|   Manali|
| Sanjay|  30| 56000|   Mysore|
|   null|  21| 53000|    Hubli|
|  Suman|  28| 45000|   Mumbai|
|  Akash|null| 23000|Hyderabad|
| Aayush|  30| 38000|    Solan|
+-------+----+------+---------+

In [238]:
#drop(Thresh=3)
df_pyspark.na.drop(how='all', thresh=3).show()

#Thresh=3 means atleast 3 non null values will be there. 
#If condition not satisfies then drop() will drop that particular row.

+-------+----+------+---------+
|   Name| Age|Salary|     City|
+-------+----+------+---------+
|  Rahul|  26| 30000|Bangalore|
|Abhinav|  26| 34000|     Pune|
|   Sonu|  23| 34000|   Mumbai|
|  Akash|  24| 45000|     null|
|  Rohit|null| 35000|   Shimla|
| Sanjay|  30| 56000|   Mysore|
|   null|  21| 53000|    Hubli|
|  Suman|  28| 45000|   Mumbai|
|  Akash|null| 23000|Hyderabad|
| Aayush|  30| 38000|    Solan|
+-------+----+------+---------+

In [239]:
#drop(subset='Age')
df_pyspark.na.drop(subset='Age').show()

#It will drop all the rows wherever the age values are null.

+-------+---+------+---------+
|   Name|Age|Salary|     City|
+-------+---+------+---------+
|  Rahul| 26| 30000|Bangalore|
|Abhinav| 26| 34000|     Pune|
|   Sonu| 23| 34000|   Mumbai|
|  Akash| 24| 45000|     null|
|   null| 23|  null|   Manali|
| Sanjay| 30| 56000|   Mysore|
|   null| 21| 53000|    Hubli|
|  Suman| 28| 45000|   Mumbai|
| Aayush| 30| 38000|    Solan|
+-------+---+------+---------+

In [262]:
#Filling the missing values with 0 in Age and Salary column:
df_pyspark.na.fill(0,['Salary','Age']).show()

+-------+---+------+---------+
|   Name|Age|Salary|     City|
+-------+---+------+---------+
|  Rahul| 26| 30000|Bangalore|
|Abhinav| 26| 34000|     Pune|
|   Sonu| 23| 34000|   Mumbai|
|  Akash| 24| 45000|     null|
|  Rohit|  0| 35000|   Shimla|
|   null| 23|     0|   Manali|
| Sanjay| 30| 56000|   Mysore|
|   null| 21| 53000|    Hubli|
|  Suman| 28| 45000|   Mumbai|
|  Akash|  0| 23000|Hyderabad|
|   null|  0|     0|     null|
| Aayush| 30| 38000|    Solan|
+-------+---+------+---------+

In [266]:
#Filling the missing values with 'Missing' in Name column:
df_pyspark.na.fill('Missing',['Name','City']).show()

+-------+----+------+---------+
|   Name| Age|Salary|     City|
+-------+----+------+---------+
|  Rahul|  26| 30000|Bangalore|
|Abhinav|  26| 34000|     Pune|
|   Sonu|  23| 34000|   Mumbai|
|  Akash|  24| 45000|  Missing|
|  Rohit|null| 35000|   Shimla|
|Missing|  23|  null|   Manali|
| Sanjay|  30| 56000|   Mysore|
|Missing|  21| 53000|    Hubli|
|  Suman|  28| 45000|   Mumbai|
|  Akash|null| 23000|Hyderabad|
|Missing|null|  null|  Missing|
| Aayush|  30| 38000|    Solan|
+-------+----+------+---------+

In [280]:
#Filling the missing values with mean using imputer:
from pyspark.ml.feature import Imputer

imputer = Imputer(inputCols=['Age','Salary'],
                 outputCols=['Age','Salary']).setStrategy("mean")


imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+---+------+---------+
|   Name|Age|Salary|     City|
+-------+---+------+---------+
|  Rahul| 26| 30000|Bangalore|
|Abhinav| 26| 34000|     Pune|
|   Sonu| 23| 34000|   Mumbai|
|  Akash| 24| 45000|     null|
|  Rohit| 25| 35000|   Shimla|
|   null| 23| 39300|   Manali|
| Sanjay| 30| 56000|   Mysore|
|   null| 21| 53000|    Hubli|
|  Suman| 28| 45000|   Mumbai|
|  Akash| 25| 23000|Hyderabad|
|   null| 25| 39300|     null|
| Aayush| 30| 38000|    Solan|
+-------+---+------+---------+

In [281]:
#Filling the missing values with median using imputer:


imputer = Imputer(inputCols=['Age','Salary'],
                 outputCols=['Age','Salary']).setStrategy("median")


imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+---+------+---------+
|   Name|Age|Salary|     City|
+-------+---+------+---------+
|  Rahul| 26| 30000|Bangalore|
|Abhinav| 26| 34000|     Pune|
|   Sonu| 23| 34000|   Mumbai|
|  Akash| 24| 45000|     null|
|  Rohit| 26| 35000|   Shimla|
|   null| 23| 35000|   Manali|
| Sanjay| 30| 56000|   Mysore|
|   null| 21| 53000|    Hubli|
|  Suman| 28| 45000|   Mumbai|
|  Akash| 26| 23000|Hyderabad|
|   null| 26| 35000|     null|
| Aayush| 30| 38000|    Solan|
+-------+---+------+---------+